[Unit]
Description=MQTT Client for Launchpad
After=network.target

[Service]
ExecStart=python /home/pi/Launchpad_ha/main.py
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target